### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [210]:
# Dependencies and Setup

import pandas as pd

# File to Load

df_path = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame

purchase_data = pd.read_csv(df_path)

## Player Count

* Display the total number of players

In [211]:
# First, I thought the lenght of the list would be enough,

player_count=len(purchase_data)

# but then I wondered if some users purchased multiple items:

player_count = purchase_data['SN'].unique()
player_count1=len(player_count)
player_count1

# So, I really dont undestand whether the total number of players is 780 since the total number of unique players on the platform is 576,
# but some bought multiple items. Though for the next exersices I needed multiple info of the unique SN's.

player_count2 = purchase_data.loc[:, ['Gender', 'SN', 'Age']]
player_count2 = player_count2.drop_duplicates()
player_count3=len(player_count2)
player_count3

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [212]:
# Calculatios

unique_items = purchase_data['Item Name'].unique()
ui = len(unique_items)
average_price = purchase_data['Price'].mean()
gains = purchase_data['Price'].sum()


average_age = player_count2['Age'].mean()
std_age = player_count2['Age'].std()



# The summary data frame

summary_df = pd.DataFrame({'Unique Items' : [ui],'Average Price': [average_price],'Gains' : [gains],'Average age':[average_age],'Age std':[std_age]})

# Format adjustments for the data frame

summary_df['Average Price'] = summary_df['Average Price'].map("${:,.2f}".format)
summary_df['Gains'] = summary_df['Gains'].map("${:,.2f}".format)
summary_df['Average age'] = summary_df['Average age'].map("{:,.0f}".format)

#Final summary df

summary_df

   Unique Items Average Price      Gains Average age   Age std
0           179         $3.05  $2,379.77          23  6.838568

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [213]:
# Value counts does retrive the values of all the genders, so I just have to run a basic calculation 
# for the percentage and add it to a data frame

gender_count=player_count2['Gender'].value_counts()
gender_percentage = (gender_count / player_count3) *100
gender_demographic = pd.DataFrame({'Count': gender_count, 'Percentage' : gender_percentage})
gender_demographic['Percentage']=gender_demographic['Percentage'].map('{:,.2f}%'.format)
gender_demographic

                       Count Percentage
Male                     484     84.03%
Female                    81     14.06%
Other / Non-Disclosed     11      1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [214]:
# First I need to group the data by the genders and then count them

gender_count = purchase_data.groupby(['Gender']).count()['Purchase ID'] # Since any column would work to count the values I chose
# ID value, but for no particular reason.

# Now I'll make the data group given the values of the distinct genders, and take the average price of those genders

average_price_gender = purchase_data.groupby(['Gender']).mean()['Price']

# This one is to get the gains of the different genders
gains_gender= purchase_data.groupby(['Gender']).sum()['Price']

# I thinik std is important when looking at data frames since one can see how centrated is the data.

std_gender= purchase_data.groupby(['Gender']).std()['Price']

# Summary table 

gender_analysis = pd.DataFrame({'Purchase count': gender_count, 'Average pricing': average_price_gender, 'Gains': gains_gender, 'Std of total pricing': std_gender})

# Add the format to the data

gender_analysis['Purchase count']= gender_analysis['Purchase count'].map('{:,}'.format)
gender_analysis['Average pricing']= gender_analysis['Average pricing'].map('${:,.2f}'.format)
gender_analysis['Gains']= gender_analysis['Gains'].map('${:,.2f}'.format)
gender_analysis['Std of total pricing']= gender_analysis['Std of total pricing'].map('{:,.2f}'.format)

# Display the table

gender_analysis

,Purchase count,Average pricing,Gains,Std of total pricing
Gender,,,,
Female,113,$3.20,$361.94,1.16
Male,652,$3.02,"$1,967.64",1.18
Other / Non-Disclosed,15,$3.35,$50.19,0.88

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [215]:
# Bins for the ages

age_bins = [0. , 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 200.0]
age_categories = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# Categorization 

player_count2['Age bins'] = pd.cut( player_count2['Age'], age_bins, labels=age_categories)

# Calculations for the count and percentage

bin_count = player_count2['Age bins'].value_counts()
bin_percentage = (bin_count/ player_count3) *100

# Data frame and format

age_demographics = pd.DataFrame({"Total Count": bin_count, "Percentage of Players": bin_percentage})
age_demographics['Percentage of Players'] = age_demographics['Percentage of Players'].map('{:,.2f}%'.format)                  
age_demographics.sort_index()

       Total Count Percentage of Players
<10             17                 2.95%
10-14           22                 3.82%
15-19          107                18.58%
20-24          258                44.79%
25-29           77                13.37%
30-34           52                 9.03%
35-39           31                 5.38%
40+             12                 2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [216]:
# Binning and categorizing

age_bins = [0. , 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 200.0]
age_categories = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purchase_data['Age bins'] = pd.cut( purchase_data['Age'], age_bins, labels=age_categories)

# Calculations

group_count = purchase_data.groupby(['Age bins']).count()['Price']
average_pricing_age = purchase_data.groupby(['Age bins']).mean()['Price']
purchase_total_age = purchase_data.groupby(['Age bins']).sum()['Price']

std_person = purchase_data.groupby(['Age bins']).std()['Price']

# Data Frame

purchasing_analysis_age = pd.DataFrame({'Purchase count': group_count, 'Average purchase price': average_pricing_age, 'Total Purchase Value': purchase_total_age, 'Std of purchases': std_person  })

# Format

purchasing_analysis_age['Average purchase price'] = purchasing_analysis_age['Average purchase price'].map('${:,.2f}'.format)
purchasing_analysis_age['Total Purchase Value'] = purchasing_analysis_age['Total Purchase Value'].map('${:,.2f}'.format)
purchasing_analysis_age['Std of purchases'] = purchasing_analysis_age['Std of purchases'].map('{:,.2f}'.format)

# Display table

purchasing_analysis_age

,Purchase count,Average purchase price,Total Purchase Value,Std of purchases
Age bins,,,,
<10,23,$3.35,$77.13,1.07
10-14,28,$2.96,$82.78,1.10
15-19,136,$3.04,$412.89,1.18
20-24,365,$3.05,"$1,114.06",1.18
25-29,101,$2.90,$293.00,1.16
30-34,73,$2.93,$214.00,1.16
35-39,41,$3.60,$147.67,1.03
40+,13,$2.94,$38.24,1.30

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [217]:
# Calculations fot top spenders

purchase_count = purchase_data.groupby(['SN']).count()['Price']
average_price = purchase_data.groupby(['SN']).mean()['Price']
total_value = purchase_data.groupby(['SN']).sum()['Price']

# Data frame

top_spenders = pd.DataFrame({'Purchase Count': purchase_count, 'Average Purchase Price': average_price, 'Total Purchase Value': total_value})

# Format 
top_spenders['Average Purchase Price']=top_spenders['Average Purchase Price'].map('${:,.2f}'.format)

# Display table in descending order

top_spenders.sort_values("Total Purchase Value", ascending=False).head(19)

              Purchase Count Average Purchase Price  Total Purchase Value
SN
Lisosia93                  5                  $3.79                 18.96
Idastidru52                4                  $3.86                 15.45
Chamjask73                 3                  $4.61                 13.83
Iral74                     4                  $3.40                 13.62
Iskadarya95                3                  $4.37                 13.10
Ilarin91                   3                  $4.23                 12.70
Ialallo29                  3                  $3.95                 11.84
Tyidaim51                  3                  $3.94                 11.83
Lassilsala30               3                  $3.84                 11.51
Chadolyla44                3                  $3.82                 11.46
Iri67                      3                  $3.79                 11.37
Inguron55                  3                  $3.70                 11.11
Siallylis44                3                  $3.46                 10.37
Saistyphos30               3                  $3.44                 10.33
Phyali88                   3                  $3.43                 10.30
Strithenu87                3                  $3.39                 10.18
Lisim78                    3                  $3.34                 10.02
Haillyrgue51               3                  $3.17                  9.50
Phistym51                  2                  $4.75                  9.50

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [218]:
# Calculations for the items

popular_items_count = purchase_data.groupby(['Item ID', 'Item Name']).count()['Price']
popular_items_price = purchase_data.groupby(['Item ID', 'Item Name']).mean()['Price']
popular_items_value = purchase_data.groupby(['Item ID', 'Item Name']).sum()['Price']

# Data frame

popular_items=pd.DataFrame({'Purchase Count': popular_items_count, 'Item Price': popular_items_price, 'Total Purchase Value': popular_items_value })

#Formating

popular_items['Item Price'] = popular_items['Item Price'].map('${:,.2f}'.format)
popular_items['Total Purchase Value'] = popular_items['Total Purchase Value'].map('${:,.2f}'.format) 

# Display the table
popular_items.sort_values('Purchase Count', ascending=False).head(15)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,$59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
132,Persuasion,9,$3.22,$28.99
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
75,Brutality Ivory Warmace,8,$2.42,$19.36
103,Singed Scalpel,8,$4.35,$34.80
34,Retribution Axe,8,$2.22,$17.76
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,$25.28
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16
60,Wolf,8,$3.54,$28.32
72,Winter's Bite,8,$3.77,$30.16
59,"Lightning, Etcher of the King",8,$4.23,$33.84
78,"Glimmer, Ender of the Moon",7,$4.40,$30.80

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [219]:
# Basically the same information as the previous, but organized from descending 'Total Purchase Value'

popular_items_count = purchase_data.groupby(['Item ID', 'Item Name']).count()['Price']
popular_items_price = purchase_data.groupby(['Item ID', 'Item Name']).mean()['Price']
popular_items_value = purchase_data.groupby(['Item ID', 'Item Name']).sum()['Price']

# Data frame

popular_items=pd.DataFrame({'Purchase Count': popular_items_count, 'Item Price': popular_items_price, 'Total Purchase Value': popular_items_value })

#Formating

popular_items['Item Price'] = popular_items['Item Price'].map('${:,.2f}'.format)

# Display the table
popular_items.sort_values('Total Purchase Value' , ascending=False).head(15)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
92,Final Critic,13,$4.61,59.99
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,50.76
82,Nirvana,9,$4.90,44.10
145,Fiery Glass Crusader,9,$4.58,41.22
103,Singed Scalpel,8,$4.35,34.80
59,"Lightning, Etcher of the King",8,$4.23,33.84
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,31.77
78,"Glimmer, Ender of the Moon",7,$4.40,30.80
72,Winter's Bite,8,$3.77,30.16
132,Persuasion,9,$3.22,28.99
60,Wolf,8,$3.54,28.32
179,"Wolf, Promise of the Moonwalker",6,$4.48,26.88
160,Azurewrath,6,$4.40,26.40
25,Hero Cane,6,$4.35,26.10
37,"Shadow Strike, Glory of Ending Hope",8,$3.16,25.28